#addPics{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
h1{
    text-align:center;
}

* { box-sizing: border-box; }

html { overflow-y: scroll; }

body { font-family: sans-serif; }


.grid {
  background: #DDD;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  text-align:center;
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}
#deletePicSuccess, #newPicSuccess{
  color:green;
  text-align:center;
  font-weight:bold;
}
#newPicNonexistent, #newPicError{
  color:red;
  text-align:center;
  font-weight:bold;
}

